{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Liste des rôles</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rôle</th>
                <th>Droits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.roleName }}</td>
                <td>{{ role.roleRights }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('role_edit', { 'id': role.id }) }}">éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}">Nouveau rôle</a>
        </li>
    </ul>
{% endblock %}
