{% extends 'AppBundle:Layout:layout.html.twig' %}
{% block article %}
    {{ parent() }}
    <h1>A propos du club</h1>

    {#
        on affiche l'historique et les valeurs du club
    #}

    {% for club in clubs %}
        <div class="panel frame">
            <div class="panel-heading frame-title">
                <h3>{{ club.title }}</h3>
            </div>
            <div class="panel-body frame-body text-justify">
                {{ club.clubcontent| raw }}
            </div>
        </div>

    {% endfor %}

{% endblock %}
