{% extends('AppBundle:Layout:layout.html.twig') %}

{% block article %}
{{ parent() }}
<h1>Contact</h1>

  <div class="panel frame">
  <div class="panel-heading frame-title">
<h3>Personnes à contacter</h3>
</div>
 <div class="panel-body frame-body text-justify">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Fusce</th>
                <td>hendrerit</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
            </tr>
            <tr>
                <th>tellus</th>
                <td>a felis</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
            </tr>
            <tr>
                <th>tellus</th>
                <td>a felis</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
            </tr>
            <tr>
                <th>tellus</th>
                <td>a felis</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
                <td>hendrerit</td>
            </tr>
        </tbody>
     </table>
     </div>
</div>



  <div class="panel frame">
  <div class="panel-heading frame-title">
    <h3>Salles</h3>
</div>
     <div class="panel-body frame-body text-justify">
    <p>
        Fusce hendrerit tellus a felis placerat, sit amet ultrices ligula laoreet. Sed porta velit quis ipsum feugiat, sit amet suscipit orci tristique.
    </p>
    <p>
        Praesent vehicula fringilla quam pharetra porta. In quis mi bibendum, pellentesque turpis vel, ullamcorper libero.
    </p>
    <p>
        Proin commodo finibus dui, eget sodales dolor facilisis ut. Sed ultrices ex risus, in aliquet dolor dictum sed. Aliquam vitae ante quam.
    </p>
    </div>
</div>
{% endblock %}