{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block article %}
	<h1>Page d'accueil</h1>

	<div class="row">
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
	</div>


    {#
    on affichera un formulaire de login si l'utilisateur n'est pas
    authentifié, un menu de navigation, et les évenements du club
    #}
{% endblock %}
