{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block article %}

    <div class="row ">
        <form id="searchForm" action='/search' class="col-xs-12 panel">
            <div class="input-group">
                <input name="keyword" type="text" class="form-control" placeholder="Chercher un évènement, une équipe, un match ...">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    {% for event in events %}

        {% if loop.index0 % 3 == 0 %}
            <div class="row">
        {% endif %}
        <div class="col-sm-4">
            <div class="well event-box">
                <h2 class="event-title">{{ event.title }}</h2>
                {% if event.team is defined %}
                    <p class="event-date">Le {{ event.dateEvent }}</p>
                {% else %}
                    <p class="event-date">Le {{ event.dateEvent|date("d/m/Y à h\\hi") }}</p>
                {% endif %}
            </div>
        </div>
        {% if loop.index0 % 3 == 2 %}
            </div>
        {% endif %}

    {% else %}

        <div>
            <p>Aucun évènement ne correspond à votre recherche</p>
        </div>

    {% endfor %}

    {#
    on affichera un formulaire de login si l'utilisateur n'est pas
    authentifié, un menu de navigation, et les évenements du club
    #}
{% endblock %}