{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block article %}

	<div class="row ">
	{#
		<form class="col-xs-12 panel">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
		</form>
	#}
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="well">
				Page d'accueil
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well">
				Planning
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well">
				A propos
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
		<div class="col-lg-4">
			<div class="well"></div>
		</div>
	</div>


    {#
    on affichera un formulaire de login si l'utilisateur n'est pas
    authentifié, un menu de navigation, et les évenements du club
    #}
{% endblock %}
