{% extends('AppBundle:Layout:layout.html.twig') %}

{% block article %}
{{ parent() }}
<h2>Modalités d'inscription au club</h2>

<div>
	<h3>Marche à suivre</h3>
	<ul>
	    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	    <li>Curabitur quis nulla sit amet dui porta aliquet.</li>
	    <li>Fusce convallis eros eget rhoncus dictum.</li>
	    <li>Maecenas ultricies dolor et pretium rhoncus.</li>
	</ul>

	<p> 
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus id mauris vel eleifend. In eget tristique tellus, sodales vulputate quam. In id arcu convallis, feugiat metus eu, porttitor ipsum. Etiam in quam aliquet, sagittis dolor eu, imperdiet justo. Praesent erat diam, tempus quis risus rhoncus, rutrum rhoncus ex. Morbi tortor lorem, finibus eget tellus semper, finibus auctor mauris. Nulla tristique augue vel purus lobortis accumsan. Donec consectetur dictum tortor ut efficitur.
	</p>

	<p> 
	Fusce hendrerit tellus a felis placerat, sit amet ultrices ligula laoreet. Sed porta velit quis ipsum feugiat, sit amet suscipit orci tristique. Praesent vehicula fringilla quam pharetra porta. In quis mi bibendum, pellentesque turpis vel, ullamcorper libero. Proin commodo finibus dui, eget sodales dolor facilisis ut. Sed ultrices ex risus, in aliquet dolor dictum sed. Aliquam vitae ante quam. 
	</p>
</div>

<div>
<h3>Grille tarifaire</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Fusce</th>
            <td>hendrerit</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
        </tr>
        <tr>
            <th>tellus</th>
            <td>a felis</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
        </tr>
        <tr>
            <th>tellus</th>
            <td>a felis</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
        </tr>
        <tr>
            <th>tellus</th>
            <td>a felis</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
            <td>hendrerit</td>
        </tr>
    </tbody>
 </table>
</div>
{#  + liens, liste, et tableau (grille tarifaire) #}


{% endblock %}