width="25%" height="25%"

class="team-img" 

<<<<<<< Updated upstream
                        <a href="{{ path('club_delete', { 'id': club.id }) }}" class="icon">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </li>
=======
                            <a href="{{ path('club_delete', { 'id': club.id }) }}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
>>>>>>> Stashed changes