{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Modifier l'équipe</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Modifier" class="btn btn-sm btn-warning"/>
        </div>
    </div>
    {{ form_end(edit_form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('app_teams_homepage') }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}
