{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Nouvel Evènement</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-sm btn-success"/>
        </div>
    </div>
    {{ form_end(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('app_homepage') }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}
