{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p class="col-sm-offset-2 col-sm-10">
        * Votre mot de passe doit comporter au moins 5 caractères, au moins une lettre minuscule et majuscule (sans accents), une chiffre et un caractère spécial '@*#!_'.
    </p>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Valider" class="btn btn-sm btn-success"/>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}