{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.description }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('category_delete', { 'id': category.id }) }}" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('category_new') }}" class="btn btn-sm btn-success">Nouvelle catégorie</a>
        </li>
    </ul>
{% endblock %}
