<div class="row">
    <h2>Liens rapides</h2>
    <div class="well event-box">
		<ul class="list-inline">
            <li>
                <p>
                    <a href=" {{ path('app_admin_dashboard') }}gallery/new"><span class="glyphicon glyphicon-plus"></span> Ajouter une photo</a>
                </p>
            </li>
            <li>
                <p>
                    <a href=" {{ path('matchs_new') }} "><span class="glyphicon glyphicon-plus"></span> Ajouter un match</a>
                </p>
            </li>
            <li>
            	<p>
                <a href=" {{ path('event_new') }} "><span class="glyphicon glyphicon-plus"></span> Ajouter un évènement</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="{{ path('club_new') }}" ><span class="glyphicon glyphicon-plus"></span> Ajouter une info à propos du Club</a>
                </p>
            </li>
        </ul>
    </div>
</div>
