<div class="row">
    <h2>Liens rapides</h2>
    <div class="well event-box">
        <h4><a href=" {{ path('app_admin_dashboard') }}gallery/new"><span class="glyphicon glyphicon-plus"></span> Ajouter une photo</a></h4>
        <h4><a href=" {{ path('matchs_new') }} "><span class="glyphicon glyphicon-plus"></span> Ajouter un match</a></h4>
        <h4><a href=" {{ path('event_new') }} "><span class="glyphicon glyphicon-plus"></span> Ajouter un évènement</a></h4>
    </div>
</div>