{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block article %}
    <h1>Bienvenue administrateur</h1>
    <p>
        A partir du panneau d'admin vous pouvez :
        <ul>
        <li>Gérer la planification des matchs</li>
        <li>Créer des évènements pour communiquer avec le club</li>
        <li>Editer les informations relatives au club
            (valeurs, historique)</li>
        <li>Créer des catégories de joueurs</li>
        <li>Attribuer les droits</li>
        </ul>
    </p>

{% endblock %}