<footer class="footer footer-main">
    <div class="row">
        <div class="container">
            <ul class="col-lg-3 text-center">
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item </a></li>
                <li><a href="#">Footer item </a></li>
            </ul>
            <ul class="col-lg-3 text-center">
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
            </ul>
            <ul class="col-lg-3 text-center">
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
            </ul>
            <ul class="col-lg-3 text-center">
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
                <li><a href="#">Footer item</a></li>
            </ul>
        </div>
    </div>
</footer>
<footer class="footer modal-footer panel-footer">
    <div class=""><!--pull-right-->
        &copy;IMIE 2017 Equipe Bravo
    </div>
</footer>