{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<main class="row">
	<article class="col-md-9" >
		{% block article %}{% endblock %}
	</article>
	<aside class="col-md-3">
		{% block sider %}
			{% include 'AppBundle:Layout:siderbar.html.twig' %}
		{% endblock %}
	</aside>
</main>

{% endblock %}