{# Navigation #}
<nav>
	<ul>
		<li><a href="{{path('app_homepage')}}" >Accueil</a></li>
		<li><a href="{{path('planning_homepage')}}" >Plannings</a></li>
		<li><a href="{{path('app_apropos')}}" >A Propos</a></li>
		<!-- manque inscriptions, équipes, école d'arbitrage et contact
		le lien pour s'inscrire peut éventuellent être déporter à droite du menu et disparaitre si la personne est logguée-->
	</ul>
</nav>