<div class="panel">
    <a class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-google">
        <span class="fa fa-google"></span>
    </a>

</div>
<div class="well">
    <p>Inscription au club</p>
    <a href="{{path('app_inscription')}}" class="btn btn-success">S'inscrire</a>
</div>
