{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}

    {% for club in clubs %}
        <div class="panel frame">
            <div class="panel-heading frame-title">
                <h1>Historique</h1>
            </div>
            <div class="panel-body frame-body text-justify">
                {{ club.title | raw }}
            </div>
            <hr>
            <div class="frame-footer">
                <ul class="list-inline icons pull-right">
                    <li title="modifier">
                        <a href="{{ path('app_admin_club_edit', { 'id': club.id }) }}" class="icon">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Modifier</a>
                </ul>

            </div>
        </div>
        <div class="panel frame">
            <div class="panel-heading frame-title">
                <h1>Valeurs</h1>
            </div>
            <div class="panel-body frame-body text-justify">
                <p>{{ club.clubcontent | raw }}</p>
            </div>
            <hr>
            <div class="frame-footer">
                <ul class="list-inline icons pull-right">
                    <li title="modifier">
                        <a href="{{ path('app_admin_club_edit', { 'id': club.id }) }}" class="icon">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Modifier</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock %}
