{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Evènement</h1>

    <h2 class="green">{{ event.title | capitalize }}</h2>
    <h4 class="event-date">{% if event.dateEvent %}{{ event.dateEvent|date('H\\hi \\à d/m/Y') }}{% endif %}</h4>
    <p>
        {% if event.description %}
            {{ event.description }}
        {% endif %}
    </p>

    <ul class="list-inline margin-top">
        <li>
            <a href="{{ path('app_homepage') }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> Retour à l'accueil
            </a>
        </li>
    </ul>
{% endblock %}
